# Optionally ignore documentation and local config files

README.md

# Exclude version control data

.git/

# Exclude test files

_\_test.go
_.test.go

# Exclude extraneous directories that aren’t part of the function code

go-cloud-function/

/go-cloud-function/
